# Programowanie w Jƒôzykach Skryptowych (Laboratorium 4)
## Pandas

### Przesy≈Çanie zada≈Ñ

Wszystkie pliki nale≈ºy spakowaƒá archiwizatorem **zip** i przes≈Çaƒá za po≈õrednictwem platformy WIKAMP. Poni≈ºej oczekiwana zawarto≈õƒá archiwum (zamie≈Ñ zmienne `imie` oraz `nazwisko` na odpowiednie warto≈õci):

```
+-- üìÇ [imie].[naziwsko].zip
    +-- üìú Laboratorium 4 - pandas.ipynb
    +-- üìú Najpopularniejsze-imiona-w-Polsce-w-latach-2000-2017.csv
```

## Zadanie 0 (0 pkt)

Wczytaj do `DataFrame` plik CSV z narodzinami dzieci w Polsce:
`Najpopularniejsze-imiona-w-Polsce-w-latach-2000-2017.csv`.

In [1]:
import pandas as pd
df = pd.read_csv('Najpopularniejsze-imiona-w-Polsce-w-latach-2000-2017.csv', encoding='ISO-8859-2', sep=';')
df = df.sort_values('Rok')

## Zadanie 1
Wy≈õwietl najpopularniejsze imiƒô (i liczbƒô) dla ka≈ºdego rocznika.

In [2]:
df.loc[df.groupby('Rok')['Liczba'].idxmax()][['Rok', 'Imie', 'Liczba']]

        Rok     Imie  Liczba
0      2000    JAKUB   14497
796    2001    JAKUB   18612
1597   2002    JAKUB   18018
2389   2003    JAKUB   16429
3207   2004    JAKUB   16431
4059   2005    JAKUB   15802
4919   2006    JAKUB   15756
5820   2007    JAKUB   16118
7259   2008    JULIA   17399
8258   2009    JULIA   16010
9256   2010    JULIA   15445
10239  2011    JULIA   13814
11230  2012    JULIA   14287
12200  2013     LENA   11411
13171  2014     LENA   10610
14167  2015  ZUZANNA    9542
14680  2016   ANTONI    9447
15593  2017   ANTONI    9794

## Zadanie 2
Wy≈õwietl, kt√≥re imiƒô dziewczynki i kt√≥re ch≈Çopca jest najbardziej popularne ≈ÇƒÖcznie (kierujemy siƒô
sumƒÖ wystƒÖpie≈Ñ),

In [3]:
print(f"Najbardziej popularne imiƒô dziewczynki: {df[df['Plec'] == 'K'].groupby('Imie')['Liczba'].sum().idxmax()}")
print(f"Najbardziej popularne imiƒô ch≈Çopca    : {df[df['Plec'] == 'M'].groupby('Imie')['Liczba'].sum().idxmax()}")

Najbardziej popularne imiƒô dziewczynki: JULIA
Najbardziej popularne imiƒô ch≈Çopca    : JAKUB

## Zadanie 3
Wy≈õwietl, kt√≥re imiona (p≈Çeƒá dowolna) wystƒÖpi≈Çy co najmniej 1000 razy rocznie w co najmniej 10 latach.

In [4]:
(df[df['Liczba'] > 1000].groupby('Imie').count() >= 10).index.to_list()

['ADAM',
 'ADRIAN',
 'AGATA',
 'AGNIESZKA',
 'ALAN',
 'ALEKSANDER',
 'ALEKSANDRA',
 'ALICJA',
 'AMELIA',
 'ANASTAZJA',
 'ANGELIKA',
 'ANNA',
 'ANTONI',
 'ANTONINA',
 'ARKADIUSZ',
 'ARTUR',
 'BARBARA',
 'BARTOSZ',
 'BART≈ÅOMIEJ',
 'BLANKA',
 'BORYS',
 'BRUNO',
 'B≈ÅA≈ªEJ',
 'DAMIAN',
 'DANIEL',
 'DARIA',
 'DAWID',
 'DOMINIK',
 'DOMINIKA',
 'EMILIA',
 'ERYK',
 'EWA',
 'EWELINA',
 'FABIAN',
 'FILIP',
 'FRANCISZEK',
 'GABRIEL',
 'GABRIELA',
 'GRZEGORZ',
 'HANNA',
 'HELENA',
 'HUBERT',
 'IGA',
 'IGNACY',
 'IGOR',
 'IZABELA',
 'JAGODA',
 'JAKUB',
 'JAN',
 'JOANNA',
 'JULIA',
 'JULIAN',
 'JUSTYNA',
 'KACPER',
 'KAJA',
 'KAMIL',
 'KAMILA',
 'KAROL',
 'KAROLINA',
 'KATARZYNA',
 'KINGA',
 'KLARA',
 'KLAUDIA',
 'KLAUDIUSZ',
 'KONRAD',
 'KORNELIA',
 'KRYSTIAN',
 'KRZYSZTOF',
 'KSAWERY',
 'LAURA',
 'LENA',
 'LEON',
 'LILIANA',
 'LILIANNA',
 'MACIEJ',
 'MAGDALENA',
 'MAJA',
 'MAKSYMILIAN',
 'MARCEL',
 'MARCELINA',
 'MARCIN',
 'MAREK',
 'MARIA',
 'MARTA',
 'MARTYNA',
 'MATEUSZ',
 'MA≈ÅGORZATA',
 'MICHALINA',
 'MICHA≈Å',
 'MIKO≈ÅAJ',
 'MILENA',
 'MI≈ÅOSZ',
 'MONIKA',
 'NADIA',
 'NATALIA',
 'NATAN',
 'NELA',
 'NIKODEM',
 'NIKOLA',
 'NINA',
 'OLAF',
 'OLIWIA',
 'OLIWIER',
 'OSKAR',
 'PATRYCJA',
 'PATRYK',
 'PAULINA',
 'PAWE≈Å',
 'PIOTR',
 'POLA',
 'PRZEMYS≈ÅAW',
 'RADOS≈ÅAW',
 'RAFA≈Å',
 'ROBERT',
 'ROKSANA',
 'SANDRA',
 'SARA',
 'SEBASTIAN',
 'STANIS≈ÅAW',
 'SYLWIA',
 'SZYMON',
 'TOMASZ',
 'TYMON',
 'TYMOTEUSZ',
 'WERONIKA',
 'WIKTOR',
 'WIKTORIA',
 'WOJCIECH',
 'ZOFIA',
 'ZUZANNA',
 '≈ÅUCJA',
 '≈ÅUKASZ']

## Zadanie 4
Wy≈õwietl:
* w kt√≥rym roku ch≈Çopcy mieli najwy≈ºszy odsetek urodzin (np. 51.7%) 
* i w kt√≥rym roku dziewczynki. 

Podaj te odsetki.

In [5]:
df3_1 = df.groupby('Rok')['Liczba'].sum()
df3_2 = pd.DataFrame({
    'M': df[df['Plec'] == 'M'].groupby('Rok')['Liczba'].sum() / df3_1,
    'K': df[df['Plec'] == 'K'].groupby('Rok')['Liczba'].sum() / df3_1
})
print(df3_2)
print("\nOdpowiedzi:")
print(f"Ch≈Çopcy mieli najwy≈ºszy odsetek ({round(100*df3_2['M'].max(), 2)}%) urodzin w roku {df3_2['M'].idxmax()}.")
print(f"Dziewczynki mia≈Çy najwy≈ºszy odsetek ({round(100*df3_2['K'].max(), 2)}%) urodzin w roku {df3_2['K'].idxmax()}.")

             M         K
Rok
2000  0.513165  0.486835
2001  0.513334  0.486666
2002  0.513608  0.486392
2003  0.512906  0.487094
2004  0.513919  0.486081
2005  0.512912  0.487088
2006  0.513239  0.486761
2007  0.512697  0.487303
2008  0.512134  0.487866
2009  0.512281  0.487719
2010  0.514268  0.485732
2011  0.514328  0.485672
2012  0.514423  0.485577
2013  0.513277  0.486723
2014  0.513704  0.486296
2015  0.513691  0.486309
2016  0.513370  0.486630
2017  0.513637  0.486363

Odpowiedzi:
Ch≈Çopcy mieli najwy≈ºszy odsetek (51.44%) urodzin w roku 2012.
Dziewczynki mia≈Çy najwy≈ºszy odsetek (48.79%) urodzin w roku 2008.

## Zadanie 5

Wy≈õwietl ile imion (p≈Çeƒá dowolna) z roku 2017 wystƒÖpi≈Ço po raz pierwszy.

In [6]:
nie_2017 = df[df['Rok'] != 2017]['Imie'].unique()
df_2017 = df[df['Rok'] == 2017]
ile = df_2017[~df_2017['Imie'].isin(nie_2017)]['Imie'].count()
print(f'W 2017 roku pojawi≈Ço siƒô {ile} nowych imion.')

W 2017 roku pojawi≈Ço siƒô 7 nowych imion.

## Zadanie 6

Napisz skypt kt√≥ry ze strony http://programy.p.lodz.pl/ectslabel-web pobierze przedmioty z drugiego semestru (dowolna specjalno≈õƒá) dla kierunku Informatyka (studia zaoczne).

Wy≈õwietl listƒô zawierajƒÖcƒÖ kolumny:
* **Kod przedmiotu**
* Nazwa przedmiotu w jƒôzyku polskim jako **Nazwa**
* **ECTS** (liczba punkt√≥w)

Nie wy≈õwietlaj wiersza z zsumowanymi warto≈õciami kolumn.

> Wskaz√≥wka: Mo≈ºesz wykorzystaƒá metodƒô `read_html` z bibliteki `pandas`. Zwr√≥ƒá uwagƒô na parametr `match`.

> Wskaz√≥wka 2: Aby ≈Çadnie wy≈õwietliƒá mo≈ºesz u≈ºyƒá metody `to_markdown` (na obiekcie `DataFrame`).

> **Uwaga**: wymagane paczki: `pip install lxml tabulate`

Przyk≈Çadowy wynik:
```
| Kod przedmiotu         | Nazwa                                                   |   ECTS |
|:-----------------------|:--------------------------------------------------------|-------:|
| 02 01 6241 01          | Matematyczne metody optymalizacji                       |      5 |
| 02 57 6202 01          | Matematyczne metody w grafice komputerowej              |      3 |
| 02 58 6148 01          | Narzƒôdzia sztucznej inteligencji w przetwarzaniu danych |      4 |
| 02 59 6312 01          | Silniki baz danych                                      |      5 |
| 02 63 6343 01          | Projektowanie system√≥w informatycznych                  |      3 |
| 02 96 6214 01          | Projekt zespo≈Çowy                                       |      6 |
| 22 91 0630 19          | Jƒôzyk obcy n. do cel√≥w naukowych                        |      2 |
| Przedmioty obieralne 2 | Inf, II nst. 2022 - Przedmioty obieralne sem.2          |      2 |
```

In [5]:
import pandas as pd
from IPython import display

res = pd.read_html(
    'http://programy.p.lodz.pl/ectslabel-web/kierunekSiatkaV4.jsp?l=pl&w=informatyka.&pkId=1673&p=7633&stopien=studia%20drugiego%20stopnia&tryb=studia%20niestacjonarne&v=4'
#     , attrs = {'class': 'tabela'}
    , encoding = 'utf-8'
    , keep_default_na = False
    , na_values = ''
    , match = 'Przedmioty obieralne sem.2'
)



display.display(*[display.Markdown(r.rename(columns={'Nazwa przedmiotu w jƒôzyku polskim': 'Nazwa'})[['Kod przedmiotu', 'Nazwa', 'ECTS']].iloc[0:-1].to_markdown()) for r in res])

for r in res:
    print(r.rename(columns={'Nazwa przedmiotu w jƒôzyku polskim': 'Nazwa'})[['Kod przedmiotu', 'Nazwa', 'ECTS']].iloc[0:-1].to_markdown(index=False))

|    | Kod przedmiotu         | Nazwa                                                   |   ECTS |
|---:|:-----------------------|:--------------------------------------------------------|-------:|
|  0 | 02 01 6241 01          | Matematyczne metody optymalizacji                       |      5 |
|  1 | 02 57 6202 01          | Matematyczne metody w grafice komputerowej              |      3 |
|  2 | 02 58 6148 01          | Narzƒôdzia sztucznej inteligencji w przetwarzaniu danych |      4 |
|  3 | 02 59 6312 01          | Silniki baz danych                                      |      5 |
|  4 | 02 63 6343 01          | Projektowanie system√≥w informatycznych                  |      3 |
|  5 | 02 96 6214 01          | Projekt zespo≈Çowy                                       |      6 |
|  6 | 22 91 0630 19          | Jƒôzyk obcy n. do cel√≥w naukowych                        |      2 |
|  7 | Przedmioty obieralne 2 | Inf, II nst. 2022 - Przedmioty obieralne sem.2          |      2 |

| Kod przedmiotu         | Nazwa                                                   |   ECTS |
|:-----------------------|:--------------------------------------------------------|-------:|
| 02 01 6241 01          | Matematyczne metody optymalizacji                       |      5 |
| 02 57 6202 01          | Matematyczne metody w grafice komputerowej              |      3 |
| 02 58 6148 01          | Narzƒôdzia sztucznej inteligencji w przetwarzaniu danych |      4 |
| 02 59 6312 01          | Silniki baz danych                                      |      5 |
| 02 63 6343 01          | Projektowanie system√≥w informatycznych                  |      3 |
| 02 96 6214 01          | Projekt zespo≈Çowy                                       |      6 |
| 22 91 0630 19          | Jƒôzyk obcy n. do cel√≥w naukowych                        |      2 |
| Przedmioty obieralne 2 | Inf, II nst. 2022 - Przedmioty obieralne sem.2          |      2 |